@each $key, $value in $color-map{
  .#{$key}{
    background: $value;
  }
}
button{
  outline: 0;
  padding: em(15px,14px) em(30px,14px);
  font-size: em(14px);
  border-radius: $br;
  color: white;
  text-transform: uppercase;
  font-size: em(14px);
  transition: opacify $trns;
  border: 0;
  margin: .25em;

}
