@function em($target, $context: 16px){
  @return 1em*($target/$context);
}

@mixin mq($break){
  @if $break == small{
    @media (min-width: $bp-sm) and (max-width: $bp-md){
      @content;
    }
  }@else if $break == medium{
    @media (min-width: $bp-md+1){
      @content;
    }
  }@else if $break == large {
    @media(min-width: $bp-lg){
      @content;
    }
  }@else{
    @error 'No hay media query para: #{$break}';
  }
}

%clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

.centered{
  float: none;
  margin: auto;
}
